<%= form_with(model: url_mapper, local: true) do |form| %>
  <% if url_mapper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(url_mapper.errors.count, "error") %> prohibited this url_mapper from being saved:</h2>

      <ul>
      <% url_mapper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
