text {
    font: 12px sans-serif;
}

.amcharts-chart-div > svg {
  width: 100% !important;
}

.amcharts-chart-div > svg {
  width: 100% !important;
  height: 300px !important;
}

#chartdiv {
  width: 100%;
}

#user_age_distribution_chart {
  height: -webkit-fill-available !important;
}

.user_age_distribution_chart {
  height: 250px;
}
